body {
	background-color: paleturquoise;
	background: url("../img/bg0.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Faustina', serif;

}

p {
	font-family: 'Vidaloka', serif;
}

h1 {
	font-size: 40px;
	letter-spacing: 2px;
}

h2 {
	font-size: 35px;
	text-transform: uppercase;
	color: blue;
	letter-spacing: 2px;


}

#me {
	height: 200px;
	border-radius: 10%;
	border-style: solid;
	border-width: 5px;
	border-color: blue;
	margin-top: 50px;
	letter-spacing: 2px;
}

.about {
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
}

.container {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}