* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

body {
	background-image: url('../img/sky.jpg');
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	color: #ffcccc;
}

.jumbotron {
	background-color: transparent;
	background-attachment: fixed;
	background-size: cover;
	height: 20vh;
	padding-top: 10px;
	margin-bottom: 0;
}

.brand-container {
	text-align: center;
}

.brand-container img {
	height: 15vh;
}


/* NAVIGATION */



.navbar > .container-fluid,
.navbar-default .navbar-collapse,
.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a,
.dropdown-menu {
	color: #ffcccc;
	background-color: #00004d;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.wander:hover {
	color: #ff00ff;
	background-color: #00004d;
}


.navbar > .container-fluid .navbar-brand {
	color: #ffcccc;
}

.wander {
	border: 1px solid #e7e7e7;
}

/* SLIDER */

#advert {
	position: relative;
	height: 60vh;
	background-image: url('../img/vsom2.jpg');
	background-size: 100% 100%;
	margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {

	#advert {
		height: 50vh;
	}
}

.upper-left {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-right: 100px solid rgba(0, 0, 77, 0.5);
	transform: rotate(45deg);
	position: absolute;
	top: -64px;
	left: -14px;
}

.upper-right {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid rgba(0, 0, 77, 0.5);
	transform: rotate(45deg);
	position: absolute;
	top: -14px;
	right: -64px;
}

.lower-left {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 100px solid rgba(0, 0, 77, 0.5);
	transform: rotate(45deg);
	position: absolute;
	bottom: -14px;
	left: -64px;
}

.lower-right {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 100px solid rgba(0, 0, 77, 0.5);
	transform: rotate(45deg);
	position: absolute;
	bottom: -64px;
	right: -14px;
}



/* MAIN TABS */

.maintabs {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px;
}

#aboutUs p {
	letter-spacing: 1px;
}

#checkWifi,
#checkNature,
#checkHotel {
	margin-top: -5px;
}

.amenities,
.attraction,
.accommodation {
	margin-top: 15px;
}

.submit-row {
	text-align: center;
}

.nav-tabs > li > a {
	background-color: transparent;
	color: #ffff4d;
	text-shadow: 2px 2px #00004d;
	font-weight: bolder;
	text-decoration: none;
	border: 1px solid #ddd;
}

.nav-tabs > li.active > a {
	color: #00004d;
	text-shadow: none;
}

.nav-tabs > li > a:hover {
	background-color: #00004d;
}

.tab-pane .well {
	background-color: rgba(0, 0, 77, 0.7);
	color: #ffcccc;
}

.screening > li {
	color: black;
	font-style: bolder;
}

.btn-success {
	background-color: #cc0088;
}

.btn-primary {
	background-color: #0080ff;
}

.btn-danger {
	background-color: #00004d
}

.btn {
	border: 1px solid #ffcccc;
}

#testimonial .well q {
	font-weight: normal;
}

#testimonial .well p {
	padding: 0;
}

#testimonial .well .btn {
	margin-top: 10px;
}

#inquire {
	text-align: center;
}


/* STAY */

img[src*="airbnb"] {
	max-width: 100%;
	height: auto;
}

.stay {
	background-color: #f2f2f2;
	letter-spacing: 2px;
	color: #000;
	margin-bottom: 20px;
	border-radius: 10px;
	padding-bottom: 20px;
}

.thumbnail {
	min-height: 580px;
	position: relative;
	background-color: #f2f2f2;
}

.btn-info {
	position: absolute;
	bottom: 10px;
	right: 20px;
}

@media only screen and (min-width: 767px) and (max-width: 1022px) {

	.thumbnail {
		min-height: 560px;
	}
}

@media only screen and (max-width: 766px) {
	
	.thumbnail {
		min-height: 0;
	}

	.btn-info {
		position: initial;
	}
}

/* EAT */

.gal-container {
	width: 90vw;
	margin: 0 auto;
	background-color: rgba(0, 0, 77, 0.5);
	text-align: center;
}

.gal-container img {
	width: 100%;
	margin-bottom: 20px;
}

.food-slides img {
	width: 50%;
}

@media only screen and (max-width: 768px) {

	.food-slides img {
		width: 100%;
	}
	
}

.row > .column {
	padding: 0 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 25%;
}

.thumbs {
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
}

.thumbs img {
	width: 20%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;
	overflow-x: auto;
}

.modal-content {
	position: relative;
	background-color: #000;
	margin: auto;
	padding: 0;
}

.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
	opacity: 1;
	z-index: 2;
	padding: 10px;
}

.close:hover,
.close:focus {
	background-color: #ff00ff;
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
}

.food-slides {
	display: none;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	width: auto;
	padding: 16px;
	margin-top: -180px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6 ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

@media only screen and (min-width: 413px) and (max-width: 766px) {

	.prev,
	.next {
		margin-top: -200px;
	}
}

@media only screen and (min-width: 767px) {

	.prev,
	.next {
		margin-top: -300px;
	}
}

.prev {
	left: 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	text-decoration: none;
	color: white;
	background-color: #ff00ff;
}

.number-text {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container {
	text-align: center;
	background-color: #000;
	padding: 2px 16px;
	color: white;
}

img.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* TAIWAN */

.tw-container {
	width: 95vw;
	margin: 0 auto;
	padding: 100px;
	letter-spacing: 1px;
	background-color: rgba(0, 0, 77, 0.5);
	text-align: justify;
}

#taiwan {
	text-align: center;
	margin-bottom: 20px;
}

.tw-container img {
	width: 20vw;
}

.media-body > p {
	padding: 30px;
}

.media-body > p > a {
	color: white;
}

p.animated > a {
	text-align: center;
	color: white;
}

p.animated {
	text-align: center;
}

@media only screen and (min-width: 767px) and (max-width: 1022px) {

	.tw-container {
		padding: 20px;
	}

	.media-body > p {
		padding: 0;
	}
}

@media only screen and (max-width: 766px) {

	.tw-container {
		padding: 20px;
	}

	.tw-container img {
		width: 70vw;
		margin: 0 auto;
	}

	.media-body > p {
		padding: 0;
	}
}

/* JAPAN */ 

#osaka {
	text-align: center;
	margin-bottom: 20px;
}

/* Privacy Policy */

a[href="privacy.html"] {
	color: white;
	font-weight: bolder;
}

.policy {
	text-align: center;
}

.panel-body > p,
.panel-body > ul > li {
	color: black;
	margin: 10px;
}

#privacy {
	min-height: 100vh;
}

/* FOOTER */

#socmed {
	list-style: none;
}

#socmed li {
	display: inline-block;
	margin: 20px;
}

footer {
	background-color: #00004d;
	font-weight: bold;
	color: #ffcccc;
	width: 100%;
	position: absolute;
	/*bottom: 0px;*/
	padding: 20px;
	text-align: center;
}